@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
  overflow-x: hidden;

  font-family: 'Lato', sans-serif;
  color: black;
}
.offset:before{
  display:block;
  content:"";
  /* height: 0rem; */
}
/* Navigation */
.navbar{
  text-transform: uppercase;
  font-weight:700;
  font-size: .7rem;
  letter-spacing: .1rem;
  background-color: rgba(0,0,0,0.6)!important ;
}

.navbar-brand img {
  height: 4rem;
}
.navbar-nav li{
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
  color:white;
  padding-top: .8rem;
  float: right;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color:#45B8AC;
}
/* Landing page css */
.home-inner{
  background-image: url(img/computers.png)
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}
.caption h1{
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.caption h3{
  font-size: 1.5rem;
  text-shadow:.1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}
/* REPAIR */
.narrow{
  width: 80%;
  margin: 1.5rem auto;
  padding-top: 0rem;
  height: 100%; */
  padding-bottom: 0rem;
  
 }

.row .marker{
  margin-left: auto;
}
ul {
  list-style-type: square;

}
ul li::marker{
  width: 10px;
  height: 10px; 
  color: #45B8AC; 
}
h3.heading{
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.heading-underline{
  width:5rem;
  height: .2rem;
  background-color: #45B8AC;
  margin: 0 auto 2rem;

}

.comp_icon img{
  max-width:100%; 
  height:10rem;
  margin: auto;
}

/* COMPANIES */
.jumbotron {
  margin-bottom: 0px;
}

/* EMAR */

.fixed{
  background-image: url(img/emar.png);
  /* background-repeat:no-repeat; */
  /* width: 80% !important; */
  margin-top:100px ;
  background-size:cover !important;
  z-index: -1;
}

.dark{
  background-color: rgba(0,0,0,0.6);
  color:white;
}
.fixed-background h3{
  padding-top: 4rem;
}
.row h2{
  font-size: 1rem;

}
.row h4{
  margin-bottom: 13rem;
  padding-top: 3rem;
  font-size: 1rem
}
footer{
  background-color: #313848 ;
  color: #9EA8AD;
}
.slide img{
  max-width:100%; 
  height:5rem;
  padding: 2%;
  position: relative;
  margin-bottom: 0em;

}
.footer img{
  max-width:100%; 
  height:5rem;
  padding-top: 1rem;
}
.footer p{s
  font-size: 14px;
  padding-top: 3rem;
} 


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
