@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
  overflow-x: hidden;

  font-family: 'Lato', sans-serif;
  color: black;
}
.offset:before{
  display:block;
  content:"";
  /* height: 0rem; */
}
.narrow2{
  width: 85%;
}
/* Navigation */
.navbar-dark .navbar-toggler{
  transition: 750ms ease;
  /* background-color: rgba(255,255,255,1)!important ;   */
}
.navbar-dark .navbar-toggler.scrolled{
  background-color: rgb(22, 43, 89,0.8)!important ;  
  /* color:#162B59 !important;
   */

  
}
.content{
  width: 80%;
  text-transform: uppercase;
  font-weight:700;
  font-size: .7rem;
  letter-spacing: .1rem;  
  margin: auto;
  background-color: transparent !important;
}
.filter img {
  height: 4rem;
   /* object-fit: contain;  */
}
.filter {
  transition: 750ms ease;
  -webkit-filter: brightness(0) invert(1);
}
.filter.scrolled {
  -webkit-filter: brightness(1) invert(0);
}
/* Tu zmienic filtr */



.bg-dark{
  transition: 750ms ease;
  background: transparent !important;
}
.bg-dark.scrolled{
  background: white !important;
}


}
.navbar-nav li{
  padding-right: .7rem;

}
 .navbar-nav .nav-link{
  /* color:#2AABE2; */
  transition: 750ms ease;
  color:white;
  padding-top: .8rem;
  float: right;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color:white !important;
}
.navbar-nav.scrolled .nav-link{
  color:#2AABE2;
  /* color:black; */
  padding-top: .8rem;
  float: right;
}
.navbar-nav .nav-link.scrolled.active,
.navbar-nav .nav-link:hover.scrolled {
  color:#162B59 !important;
}
/* Landing page css */


.home{

}

.home-inner{
  background-image: url(img/computers.png)
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}
.caption h1{
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
  font-family: "AddCityboy" !important;
}
.caption h3{
  font-size: 1.5rem;
  text-shadow:.1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}
.box{
  position: absolute;
  top:80%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.box span{
  display: block;
  width: 40px;
  height:40px;
  border-bottom: 2px solid #2AABE2;
  border-right: 2px solid  #2AABE2;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.box span:nth-child(2){
  animation-delay: -0.2s;
}
.box span:nth-child(3){
  animation-delay: -0.4s;
}
@media  only screen and (max-width:800px) {
  .box span {
    width: 20px;
    height:20px;
}
.box{
  top:90%;
}
   }


@keyframes animate{
  0%{
    opacity:0; 
    transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
    opacity:1;
  }
  100%{
    opacity:0;
    transform: rotate(45deg) translate(20px,20px);
  }
  
}
/* REPAIR */
.narrow{
  width: 80%;
  margin: 1.5rem auto;
  padding-top: 0rem;
  height: 100%; 
  padding-bottom: 0rem;
  margin: 0 auto;
  
 }

.row .marker{
  /* margin-left: auto; */
  display : flex;
  align-items : center;
  justify-content: center;
  /* margin-left: 2rem; */
  /* align-content: ; */
}
ul {
  list-style-type: square;

}
ul li::marker{
  width: 10px;
  height: 10px; 
  color: #2AABE2; 
}
h3.heading{
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  margin-top: 4rem;
}
.heading-underline{
  width:5rem;
  height: .2rem;
  background-color: #2AABE2;
  margin: 0 auto 2rem;

}

.comp_icon img{
  max-width:100%; 
  height:10rem;
  margin: auto;
  /* position:center center; */
}
.comp_icon1 img{
  max-width:100%; 
  height:10rem;
  margin-top:10rem;
}
img {
	vertical-align: middle;
	border-style: none;
}
.row-inner{
  display : flex;
  align-items : center;
  justify-content: center;
}
/* COMPANIES */
.jumbotron {
  padding: 0.1px 0 0.1px 0;
  overflow: hidden;
  margin: 0 auto;
}


/* EMAR */

.slider_bg{
  max-width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover ;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation:slideBg 12s linear  infinite;
  animation-timing-function: ease-in-out ;
  background-image: url(img/baner.png) ;
  /* animation-delay: 5s; */
  z-index: 1;
}

@keyframes slideBg{

  12%{
    background-image: url(img/baner.png) ;
  
  }
  24%{
    background-image: url(img/kasa.png) ;

  }




}

.dark{
  background-color: rgba(0,0,0,0.6);
  color:white;
  height: 100vh;
}

.row h2{
  font-size: 1rem;
  padding-left: auto;;  

}
.row h4{
   /* vertical-align: middle; */
  margin-top: 20%;
  font-size: 1rem;
}
.comp_icon1 img{
  margin-top: 12%;
}
.slide img{
  max-width:100%; 
  height:5rem;
  padding: 2%;
  position: relative;
  margin-bottom: 0em;

}


/* MAP */

#browser {
  margin: 10px auto;
  color: white;
  width: 80%;
  -webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
}


#content {
  background: #454f4f;
}
#content:after {
  content: "";
  display: table;
  clear: both;
}
#content #left, #content #right {
  height: 100%;
}
#content #left {
  float: left;
  width: 75%;
}
@media all and (max-width: 780px) {
  #content #left {
    width: 100%;
  }
}
#content #left #map {
  height: 446px;
  position: relative;
  background-size: cover;
}




#content #right {
  float: left;
  width: 25%;
  background: #e9ecef;
  font-size: 0.75em;
  padding: 15px;
}
@media all and (max-width: 780px) {
  #content #right {
    width: 100%;
  }
}
#content #right p {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: black !important;
}
#content #right a:hover {
  color: #51B2D6;
}
#content #right #social {
  display: table;
  width: 100%;
}
#content #right .social {
  display: table-cell;
  text-align: center;
}
#content #right form {
  border-top: solid thin #8e9699;
  border-bottom: solid thin #8e9699;
  margin: 20px 0;
  padding: 20px 0;
}
#content #right form input,
#content #right form textarea {
  background: #6f7e7e;
  padding: 8px;
  margin-bottom: 8px;
  width: 100%;
  color: white;
}
#content #right form input:last-of-type,
#content #right form textarea:last-of-type {
  margin-bottom: 0;
}
#content #right form input[type='submit'],
#content #right form textarea[type='submit'] {
  text-transform: uppercase;
  background: #2AABE2;
  width: 50%;
  color: white;
  margin-top: 5px;
}
#content #right form input[type='submit']:hover,
#content #right form textarea[type='submit']:hover {
  background: rgb(29, 136, 182);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#content #right form input[type='textarea'],
#content #right form textarea[type='textarea'] {
  min-height: 75px;
  vertical-align: text-top;
}
#content #right p.other {
  font-size: 0.7;
  margin-bottom: 5px;
  text-transform: lowercase;
  font-weight: 100;
}
#content #right p.other,
#content #right p.other a {
  color: black;
}


/* FOOTER */
.footer{
  width: 100%;
  background-color: #576363 ; 
  /* display: block; */
  color: #9EA8AD;
  height:3rem;
  margin-top: 5rem;
}
 .inner-footer{
  width: 95%;
  margin: auto;
  grid-template-rows: 100px !important;
  display : flex;
  align-items : center;
  justify-content: center;
  }



.footer-bottom{
  color: black;
  padding-top: 1rem;

}
/* .fa-phone,.fa-envelope,.fa-map-marker-alt{
  color:#2AABE2;
} */
/* .sc img {
  height: calc(50vh - 100px);
  width: auto;
  margin: 0 auto; 
  width: 100% !important ;
  text-align: center !important;
} */
.slick-slide {
  margin: 0px 20px;
}

.variable-width img {
  width: auto;
  margin: 0 auto; 
}

.slick-slider
{
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}



.map{
  height: 500px;
  width: 100%;
}







/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
